---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -4
Standard:        c++20
IndentWidth:     4
TabWidth:        4
UseTab:          Never
ColumnLimit:     120
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
BinPackParameters: false
AlignEscapedNewlines: Left
AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: Never
BreakConstructorInitializersBeforeComma: false
IndentPPDirectives: BeforeHash
SortIncludes:    Never
PointerAlignment: Left
BreakBeforeBraces: Attach
SpaceAfterCStyleCast: true
SpacesInParentheses:  false
SpacesBeforeTrailingComments: 2
MaxEmptyLinesToKeep: 2
KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false
...
